
@{
    Layout = "~/Views/Shared/_LayoutPageCommon.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomeIndex</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>


<body>
    <div class="container-fluid" id="body" >

        <div class="divimage"> </div>
          <div >
              <h3 class="mission">Our Mission</h3>

          </div>  
          <div class="container ">
              <div class="row  p-4 p-lg-5 my-lg-5">
                  <div class="col-lg-7 rowimages">
                      <img src="~/Images/istockphoto-888672368-612x612.jpg" class="img-fluid" />
                  </div>
                  <div class="col-lg-4 rowparagraph" >
                      <p>To provide compassionate, accessible, high quality, cost effective healthcare to one all. 
                      To serve with a patient's first motto and to work towards a patient- centered care. 
                      To develop, share and apply new knowledge and technology in the delivery of patient care through research and technology integration.</p>
                  </div>
                  
              </div>
              <div class="row">
                  <h4 class="mission">Our Departments</h4>

                  <div class="col-4 shadow p-3 mb-5 bg-white rounded">
                      <h4 class="dept_headings">Cardiology</h4>
                      <div class="row" >
                          <div class="col-6 department_images">
                              <img src="~/Images/cardiology.jpg" class="img-fluid"/>
                             
                          </div>
                          <div class="col-6 dept_paragraphs">
                              <p>Our Cardiac Emergency Response Team constitutes some of the leading Cardiologists 
                              and Cardiac Surgeons and Cardiac Anesthetists assisted by well-trained medical and paramedical staff. </p>

                          </div>
                      </div>
                  </div>
                  <div class="col-4 shadow p-3 mb-5 bg-white rounded">
                     <h4 class="dept_headings">Orthopedics</h4>
                      <div class="row">
                          <div class="col-6 department_images">
                              <img src="~/Images/ortho.jpg" class="img-fluid" />

                          </div>

                          <div class="col-6 dept_paragraphs">
                              <p>
                                  Our full-fledged Orthopedics Department is one of the advanced units designed for muscular and skeletal injuries and
                                  is rated as the best among Accident and Trauma care Units.
                              </p>
                               

                          </div>


                      </div>


                  </div>

                  <div class="col-4 shadow p-3 mb-5 bg-white rounded">
                      <h4 class="dept_headings">Neurology</h4>
                      <div class="row">
                          <div class="col-6">
                              <img src="~/Images/_brain.jpg" class="img-fluid"/>

                          </div>

                          <div class="col-6 dept_paragraphs">
                              <p>
                                  Our Neurosurgical department complements our Neurology Department to cater to all neurological
                                  disorders that require surgical intervention, and functions round the clock.
                              </p>


                          </div>


                      </div>


                  </div>





              </div>
              
          </div>
                  

    </div>
</body>
</html>
